*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    max-width: 100%;
  
    
  }
  head{
    width:100%;
  }
  body{
    font-family: serif;
    width:100%;
  
  }
  nav{
    background: #fffcfc;
    height: 5rem;
    width: 100%;
  
  }
  nav ul{
    float: right;
    margin-right: 0px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 7px 20px;
    border-radius: 20px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: rgb(222, 137, 137);
    transition: .5s;
    color: #d6bfab;
  }
  label.logo{
    color: rgb(255, 255, 255);
    font-size: 17px;
    line-height: 80px;
    padding: 0 20px;
    padding-left: 10px;
    font-family: 'Cedarville Cursive';font-size: 22px;
    text-shadow:0px 2px 2px rgb(255, 239, 121) ;
    border: 2px solid rgb(236, 215, 170);
    border-radius: 50%;
    background-color: rgb(32, 31, 29);
    margin-left: 2rem;
    box-shadow: 2px 2px 2px 4px #66240c
    
  }
  .checkbtn{
    font-size: 30px;
    color: rgb(5, 0, 0);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  .heading{
    background-image: url(./photos/111.jpg);
    background-size: cover;
    height: 25rem;
    max-width: 500rem;
    
  }
  .heading button{
    background-color: #955688;
    color: rgb(247, 241, 50);
    margin-top: 10rem;
    box-shadow: 10px 10px 15px;
    
  }
  .heading button{
    text-align: center;
    width: 8rem;
    height: 7rem;
    border-radius: 60%;
    font-size: 2rem;
    font-family: serif;

  }
 .heading button:hover{
  cursor: pointer;
     transform: scale(1.2, 1.2);
     opacity: 0.6;
  }
  .flex {
    box-shadow: 7px 10px 15px;
    max-width: 100%;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
}


.card img{
    margin-right: 2px;
    height: 190px;
    width: 213px;
    border-radius: 0;
}

.card:hover{
    translate: .9ease;
    cursor:grab;
    transform: scale(0.9);
    opacity: 0.6;
}
.announcement{
    text-align: center;
    padding-top: 3rem;
    font-size: 40px;
    font-family:Franklin Gothic ;
    color: rgb(38, 114, 89);
}
.about{
    font-size: 20px;
    padding: 30px;
    margin-top: 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about h2{
    padding: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
    color: #e66471;

}
.about p{
    padding: 1rem;
}
.about img{
    height: 40rem;
    width: 40rem;
    float:right;
    border-radius: 50%;
    padding: 1rem;
}
.about button{
    background-color: #000000;
    color: #d3d8f3;
    padding: 1rem;
    margin-left: 1rem;
    cursor: grab;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
  }

.about button:hover {
    color: #f135c6;
    transform: scale(1.2,1.2);
}  

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(11, 11, 11);
    height: auto;
    width: 100vw;
  
    padding-top: 4px;
    color: rgb(227, 212, 212);
  }
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-content h3 {
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 2rem;
  }
  .footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
  }
  .socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  .socials li {
    margin: 0 10px;
  }
  .socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
  
    border-radius: 50%;
  }
  .socials a i {
    font-size: 1.1rem;
    width: 20px;
  
    transition: color 0.4s ease;
  }
  .socials a:hover i {
    color: rgb(231, 244, 244);
  }
  
  .footer-bottom {
    background: rgb(0, 0, 0);
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    
 
  }
  .footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
  }
  .footer-bottom p a {
    color: #dadbdc;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
  }
  .footer-bottom span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
  }
  
  
  
  
  
 @media (max-width: 968px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
      
    }
    nav ul li a{
      font-size: 16px;
    }
    .heading h1{
        float: left;
        margin-top: 17rem;
    }
  }
  @media (max-width: 875px){
    .checkbtn{
      display: block;
    }
    nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #d3d8f3;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover, a.active{
      background: none;
      color: #f135c6;
    }
    #check:checked ~ ul{
      left: 0;
    }
    .heading h1{
        float: left;
        margin-top: 17rem;
    }
  }